@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&family=IBM+Plex+Sans:wght@400;500;700&display=swap');

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
}

.block {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.navbar > .block {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.display-table {
  display: table !important;
}

.logo-img {
  height: 42px;
  width: auto;
}

.logo-text {
  font-size: 42px;
}

.mar-top {
  margin-top: 1rem !important;
}

.mar-top-5 {
  margin-top: 5% !important;
}

.mar-bottom {
  margin-bottom: 1rem !important;
}

.mar-sides-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mar-left-5 {
  margin-left: 5%;
}

.mar-left-10 {
  margin-left: 10%;
}

.boldness-500 {
  font-weight: 500;
}

.boldness-600 {
  font-weight: 600;
}

.boldness-700 {
  font-weight: 700;
}

.boldness-900 {
  font-weight: 900;
}

.column-flex-1 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.column-flex-2 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.column-flex-3 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.column-flex-4 {
  flex: 0 0 auto;
  width: 100%;
}

.column-flex-25 {
  flex: 0 0 auto;
  width: 25%;
}

.column-flex-50 {
  flex: 0 0 auto;
  width: 50%;
}

.column-flex-75 {
  flex: 0 0 auto;
  width: 75%;
}

.column-flex-37-5 {
  flex: 0 0 auto;
  width: 37.5%;
}

.justify-content-center {
  justify-content: center !important;
}

.icon-rectangle,.icon-square {
  background-color: white;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 700;
  display: inline-block;
  margin-right: 5px;
}

.icon-rectangle { 
  width: 6vw;
  height: 2.5vw;
}

.icon-square {
  width: 2.5vw;
  height: 2.5vw;
}

.icon-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

.icon {
  position:relative;
  top: calc(50% - 10px);
}

.icon-navbar {
  color:#ea5822ff;
}

.icon-footer {
  color: white;
}

.icon-text {
  position:relative;
  top: calc(50% - 10px);
}

.icon-square:hover,.icon-rectangle:hover {
  background-color: #ea5822ff;
}

.icon-square:hover > .icon,.icon-rectangle:hover > .icon {
  color: white;
}

.navbar-social {
  display: inline-block;
  margin-right: 4vw;
}

.navbar .navbar-brand {
  color: #062a35;
  text-decoration: none;
}

.navbar .navbar-nav .nav-link {
  color: #062a35;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e9f3f7;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 2rem;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 2vw;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
}

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 50%;
  flex-grow: 2;
  align-items: center;
}
.navbar-collapse {
  margin-left: 4vw;
}

.title-squares {
  background-color: #ea5822ff;
  height: 0.25vw;
  width: 0.25vw;
  display: inline-block;
}

.subtitle {
  margin-top: 10rem;
  font-family: 'Hind';
  color: #ea5822ff;
  font-size: 18px;
}

.subtitle-squares {
  font-size: 0.3rem; 
  line-height: 1.3333rem; 
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.3333rem;
  color: #ea5822ff;
}

.subtitle-squares i {
  margin-left: 3px;
}

.logo-dark-bg {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}

footer {
  background-color: #052935;
  color: #94a7b5;
  text-decoration: none;
  background-image: url(/pics/footer-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .logo-dark-bg {
  color: white;
}

.footer-logo-section {
  display: flex !important;
  justify-content: center !important;
  justify-content: space-between !important;
}

.footer-text {
  text-decoration: none;
}

.footer-social {
  font-family: 'Hind';
  font-weight: 500;
  font-size: 1rem;
  display: table;
}

.footer-social > a {
  text-decoration: none;
  color: white;
}

.fb-bg {
  color: #1771e5;
}

.yt-bg {
  color: #ff0000;
}

.twitter-bg {
  color: #1da1f1;
}

.ig-bg {
  color: #de0d88;
}

.linkedin-bg {
  color: #0077b5;
}

.icon-social {
  color: white;
}

.footer-social-item:hover {
  border-bottom: 3px solid #ea5822ff;
}

.footer-social-item div {
  margin-right: 10px;
}

.footer-social-padding { 
  padding: 2rem;
}

.footer-social-item-padding {
  padding: 3.5rem;
}

.footer-border-bottom {
  border-bottom: 2px solid #1d303f;
}

.footer-copyright {
  background-color: #0b3542;
  font-family: 'Roboto';
  text-align: center !important;
  padding: 1rem !important;
}

.footer-copyright a {
  color: white;
  text-decoration: none;
}

.footer-heading {
  color: white;
  font-size: 1.46666rem;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  margin-bottom: 20px;
}

form.footer-input::after {
  content: "";
  clear: both;
  display: table;
}

form.footer-input input {
  float: left;
  background-color: #0b3542;
  text-decoration: none;
  color: #94a7b5;
  border: none;
  text-align: left;
  font-family: 'IBM Plex Sans';
  font-size: 0.8rem;
  width: 20rem;
  height: 3rem;
  padding: 1vh;
}

.footer-input input:focus {
  border: 1px solid #ea5822ff;
  outline: none !important;
}

form.footer-input button {
  float: left;
  background-color: #ea5822ff;
  text-decoration: none;
  color: white;
  border: none;
  font-family: 'IBM Plex Sans';
  font-size: 0.8rem;
  width: 4rem;
  height: 3rem;
  padding: 1vh;
  border-left: none;
  cursor: pointer;
}

.footer-item i {
  color: #ea5822ff;
  font-size: 8px;
  margin-right: 10%;
  display: none;
}

.footer-item:hover i {
  display: inline-block;
}

.footer-button-up {
  width: 45px;
  height: 45px;
  background-color: #4581ff;
  color: white;
  float: right; 
  position: relative; 
  margin-right: 5%; 
  margin-top: 5%;
  border: none;
  font-weight: 500;
  font-size: 12px;
}

::placeholder {
  opacity: 1;
}

.sponsors-bar {
  background-color: #ea5822ff;
  padding: 5%;
}

.sponsors-items img {
  margin-left: 4%;
}

@media (min-width: 576px) {
  .block {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .block {
    max-width: 720px;
  }
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
@media (min-width: 992px) {
  .block {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .block {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .block {
    max-width: 1320px;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
}

.info-box-line {
  margin-top: -66px;
}

.info-box {
  display: inline-block;
  width: 270px;
  height: 133px;
  background-color: white;
  box-shadow:rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  font-family: 'Hind';
  color: #6e838a;
  font-weight: 500;
  font-size: 15px;
  margin-right: 2rem;
}

.info-box i {
  margin-right: 5%;
}

.info-box h3 {
  color: #ea5822ff;
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 0;
  margin-top: calc(50%-47px);
  margin-left: 50px;
}

.info-box p {
  margin-top: 0;
  text-align: center;
  margin-left: 60px;
}

.home-page-top {
  background-image: url("/pics/home-page-background.png");
  width: 100%;
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-top h1 {
  font-family: 'Roboto';
  font-size: 80px;
  font-weight: 900;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

form.home-top-input::after {
  content: "";
  clear: both;
  display: table;
}

form.home-top-input input {
  float: left;
  background-color: white;
  text-decoration: none;
  color: #94a7b5;
  border: none;
  text-align: left;
  font-family: 'Hind';
  font-weight: 500;
  font-size: 20px;
  width: 415px;
  height: 50px;
  padding: 30px;
}

.home-top-input input:focus {
  border: 1px solid #ea5822ff;
  outline: none !important;
}

form.home-top-input button {
  float: left;
  background-color: #ea5822ff;
  text-decoration: none;
  color: white;
  border: none;
  font-family: 'IBM Plex Sans';
  font-size: 0.8rem;
  width: 50px;
  height: 50px;
  padding: 1vh;
  border-left: none;
  cursor: pointer;
  margin-left: -55px;
  margin-top: 5px;
}

/* The navigation menu
.navbar {
  font-family: Roboto;
  overflow: hidden;
  background-color: transparent;
}

.info-box i {
  margin-right: 5%;
}

.info-box h3 {
  color: #ea5822ff !important;
  font-weight: 900;
  font-size: 32px;
  margin: 0;
  text-align: center;
}

.info-box p {
  text-align: center;
}

.home-page-top {
  background-image: url("/pics/home-page-background.png");
  width: 100%;
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-top h1 {
  font-family: 'Roboto';
  font-size: 80px;
  font-weight: 900;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

form.home-top-input::after {
  content: "";
  clear: both;
  display: table;
}

form.home-top-input input {
  float: left;
  background-color: white;
  text-decoration: none;
  color: #94a7b5;
  border: none;
  text-align: left;
  font-family: 'Hind';
  font-weight: 500;
  font-size: 20px;
  width: 415px;
  height: 50px;
  padding: 30px;
}

.home-top-input input:focus {
  border: 1px solid #ea5822ff;
  outline: none !important;
}

form.home-top-input button {
  float: left;
  background-color: #ea5822ff;
  text-decoration: none;
  color: white;
  border: none;
  font-family: 'IBM Plex Sans';
  font-size: 0.8rem;
  width: 50px;
  height: 50px;
  padding: 1vh;
  border-left: none;
  cursor: pointer;
  margin-left: -55px;
  margin-top: 5px;
}

.page-top-info {
  width: 100%;
  height: 450px;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.page-top-info h1 {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 6rem;
  margin: 0;
}

.page-top-info p {
  text-align: center;
  font-family: 'Hind';
  font-weight: 500;
}

.page-content {
  width: 100%;
  height: auto;
  background-color: #e9f3f7;
  padding: 6rem 0 6rem 0;
}

.page-content h2 {
  margin-top: 0;
  font-family: 'Roboto';
  font-weight: 900;
  color: #062a35;
  font-size: 2.5rem;
}

.page-content p {
  font-family: 'Hind';
  font-weight: 400;
  font-size: 1rem;
  color: #708389;
}

.contact-part h6 {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 1rem;
  margin: 0;
  color: #062a35;
}

.contact-part p {
  font-family: 'Hind';
  font-weight: 500;
  color: #062a35;
  margin: 0;
}

.contact-part span {
  margin-bottom: 2rem;
  vertical-align: top;
}

.icon-content-contact {
  font-size: 1.5rem;
  color: #ea5822ff;
}

.inner-icon-content-contact {
  color: white;
  font-size: 1.2rem;
}

.contact-social:hover .contact-social-circle {
  color: #3561ff;
}

.contact-social:hover .contact-social-icon {
  color: white;
}

.contact-social-circle {
  color: #c9e2ea;
  font-size: 1.2rem;
}

.contact-social-icon {
  color: #3561ff;
  font-size: 0.8rem;

}

.mapouter {
  position:relative;
  text-align:right;
  height:500px;
  width:500px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height:500px;
  width:500px;
}

.contact-form input,textarea{
  width: 100%;
  margin-bottom: 1rem;
  color: #062a35;
  font-family: 'Hind';
  font-weight: 600;
  border: none;
  padding: 1rem;
  font-size: 0.8rem;
}

.contact-form input:focus,textarea:focus {
  border: 1px solid #ea5822ff;
  outline: none !important;
}

.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form button {
  background-color: #ea5822ff;
  text-decoration: none;
  color: white;
  border: none;
  font-family: 'Roboto';
  font-size: 0.8rem;
  font-weight: 900;
  padding: 1vh;
  border-left: none;
  cursor: pointer;
  width: 50%;
  height: 50px;
}

.price {
  width: 80px;
  height: 50px;
  background-color: #3561ff;
  color: white;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  display: inline-block;
}

.join-event-button {
  background-color: #ea5822ff;
  text-decoration: none;
  color: white;
  border: none;
  font-family: 'Roboto';
  font-size: 0.8rem;
  font-weight: 900;
  padding: 1vh;
  border-left: none;
  cursor: pointer;
  width: 210px;
  height: 50px;
}

.event-description {
  font-family: 'Hind';
  font-weight: 400;
  color: #708389;
  size: 1rem;
}

.page-content h3 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 2rem;
  color: #062a35;
  margin: 0;
}

.event-icon {
  color: #ea5822ff;
  font-size: 15px;
  margin-right: 10px;
}

.event-info {
  font-family: 'Hind';
  font-weight: 500;
  color: #708389;
  font-size: 1rem;
}

.event-info span {
  margin-right: 20px;
}

.content-flex {
  position: relative;
  display: flex;
}

.content-flex > * {
  flex: 50%;
}

.resp-iframe {
  flex: 0 0 auto;
}

.circle-checks i.fas {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #e2e2e2;
  color: #062a35;
  padding: 0.5em 0.6em;
  margin-right: 10px;
}

.circle-checks {
  padding: 0;
  list-style-type: none;
  font-family: 'Hind';
  font-weight: 500;
  color: #062a35;
  font-size: 1rem;
}

.circle-checks li {
  margin-top: 5px;
}

.event-card {
  width: 370px; 
  height: 300px;
  position: relative; 
  color: white;
  font-weight: 900;
  font-family: 'Roboto';
  font-size: 0.9333rem;
  flex: 0 0 auto;
  width: 33.3333333333%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.event-card .event-info {
  font-family: 'Hind';
  font-size: 1rem;
  font-weight: 500;
  color: #bacbd8;
}

.event-card h4 {
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}

.event-card-desc {
  position: absolute;
  top: 0; 
  margin-left: 20px;
}

.event-card-img-cover {
  position: relative;
  display: inline-block;
}

.event-card-img-cover img {
  width: 370px; 
  height: 300px;
}

.event-card-img-cover::after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
}

.event-card-bg::after {
  background: linear-gradient(to top, rgba(8,16,60,1) 0%, transparent 100%);
}

.course-bg::after {
  background: linear-gradient(to top, rgb(5, 41, 53) 0%, transparent 100%);
}

.card-price {
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  background-color: #2b2b2b; 
  text-align: center; 
  line-height: 60px; 
  vertical-align: center; 
  margin-top: 5%; 
  margin-left: 18rem;
  background-color: #ea5822ff;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 1.6rem;
  color: white;
  position: absolute;
}

.career-bar {
  width: 100%;
  height: 24rem;
}

.career-side {
  height: 24rem;
}

.career-bar p {
  color: #999ec4;
  font-family: 'Hind';
  font-weight: 500;
  font-size: 1rem;
}

.career-bar h2 {
  font-family: 'Roboto';
  font-size: 2rem;
  font-weight: 900;
  color: white;
  margin-top: 1%;
}

.career-bar .subtitle, .subtitle-squares{
  color: white;
  font-family: 'Hind';
  font-weight: 700;
}

.career-bar button {
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 0.8rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.ceo-block {
  text-align: center;
  display: block;
  background-color: white;
}

.ceo-block img {
  width: 14.333333333rem; 
  height: auto; 
  border-radius: 50%;
  margin-top: 2rem;
}

.ceo-block p {
  margin-top: 0;
  font-family: 'Hind';
  font-size: 1rem;
  font-weight: 400;
  color: #708389;
  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.ceo-block h4 {
  font-size: 1.4666667rem;
  font-family: 'Roboto';
  font-weight: 900;
  color: #062a35;
  margin-bottom: 0;
}

.ceo-title {
  color: #ea5822 !important;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.get-in-touch .contact-form input,textarea {
  border: 1px solid #e9f3f7;
  width: 70%;
}

.get-in-touch {
  padding-bottom: 3rem;
}

.get-in-touch h3 {
  margin-bottom: 1rem;
}

.get-in-touch textarea {
  height: 6rem;
}

.get-in-touch h3,
.get-in-touch input,
.get-in-touch button,
.get-in-touch textarea {
  margin-left: 15%;
  margin-right: auto;
}
.get-in-touch .contact-form button {
  width: 70%;
}

.content-block {
  padding-top: 2rem;
  background-color: white;
}

.faq h3,
.faq button {
  margin-left: 10%;
  margin-right: auto;
}

.accordion {
  background-color: white;
  color: #062a35;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  transition: 0.4s;
  font-family: 'Roboto';
  font-size: 1.2rem;
  font-weight: 700;
}

.accordion i {
  color: #ea5822ff;
  float: right;
}

.active {
  color: #ea5822ff;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-family: 'Hind';
  font-size: 1rem;
  color: #708389; 
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.instructor-course-stats {
  color: #708389;
  font-weight: 500;
}

.instructor-course-stats i {
  margin-left: 10%;
}

.instructor-course-profile-pic {
  float: left; 
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  object-fit: cover; 
  bottom: 0;
}

.instructor-box p {
  font-family: 'Hind';
  font-weight: 500;
  color: #708389;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.instructor-box h4 {
  font-family: 'Roboto';
  font-size: 1.6rem;
  color: #062a35;
  margin-bottom: 0;
}

.orange-color {
  color: #ea5822ff !important;
}

.instructor-course-image {
  position: relative; 
  color: white;
  font-weight: 900;
  font-family: 'Roboto';
  font-size: 0.9333rem;
  flex: 0 0 auto;
  width: 100%;
}

.instructor-course-desc {
  position: absolute;
  bottom: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 25%;
}

.instructor-course-desc h4 {
  display: inline-block; 
  margin: 0; 
  margin-left: 1rem; 
  font-size: 1.1rem; 
  line-height: 50px;
}

.instructor-course-desc span {
  width: 3.5rem !important;
  margin-left: 7.5rem;
}

.instructor-course-bottom {
  margin-left: 10%; 
  margin-right: 10%; 
  margin-top: 10%; 
  padding-bottom: 3rem;
}

.instructor-course-bottom h4 {
  border-bottom: 1px solid #e2e2e2;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.rounded-tag {
  color: white; 
  border-radius: 12px; 
  text-align: center;  
  text-transform: uppercase; 
  font-size: 0.8rem; 
  font-weight: 700;
}

.display-inline-block {
  display: inline-block; 
}

.blue-bg-color {
  background-color: #4581ff; 
}

.orange-bg-color {
  background-color: #ea5822ff;
}

.lessons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ebebeb;
  border-bottom: 0;
}

.lessons-list li {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 1rem 0 1rem 2rem;
  border-bottom: 1px solid #ebebeb;
  color: #062a35;
  font-family: 'Roboto';
  font-weight: 900;
}

.lessons-list li:hover {
  background-color: #eaf4f7;
}

.lessons-list i {
  margin-right: 1rem;
}

.lessons-list p {
  width: 20%;
  margin: 0;
  float: right;
}

.course-detail > .accordion,
.course-detail > .panel {
  width: 100%;
}

.course-detail > button,
.course-detail > .panel {
  margin-left: 0;
}

.course-instructors > .instructor-course-profile-pic {
  width: 150px;
  height: 150px;
  float: none;
  margin-top: 20%;
}

.course-instructors {
  text-align: center;
  border: 1px solid #ebebeb;
}

.course-instructors p {
  margin: 0;
  padding-bottom: 3rem;
  font-size: 0.8rem;
}

.course-instructors h4 {
  margin-bottom: 0;
}

.course-info-list {
  list-style-type: none;
  margin: 0;
  border: 1px solid #ebebeb;
  padding: 2rem;
}

.course-info-list li {
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  color: #062a35;
  font-family: 'Roboto';
  font-weight: 700;
}

.course-info-list li:last-of-type {
  border-bottom: 0;
}

.course-info-list button {
  width: 80%;
  height: 40px;
  margin-top: 5%;
  margin-left: 10%;
  text-transform: uppercase;
  border: none;
  background-color: #3662ff;
  color: white;
  border-radius: 20px;
  font-weight: 900;
  font-family: 'Roboto';
  font-size: 0.8rem;
}

.course-info-list p {
  margin: 0;
  float: right;
  color: #ea5822ff;
  font-family: 'Roboto';
  font-weight: 700;
}

.course-info-list i {
  color: #ea5822ff;
  margin-right: 0.5rem;
}